@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Header */

.nav-custom {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition: ease-in-out 0.3s;
  width: 100%;
  z-index: 1;
}

.sticky-nav {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a::after {
  background-color: #651fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 2px;
  transition: width 0.2s ease-in-out;
  width: 0%;
}

.custom-brand-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 10px;
}

/* Main content home*/

.preloader-wrapper {
  margin-bottom: 80px
}

.header-hero-content {
  justify-content: center;
  background-image: url("../assets/images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  text-align: center;
  z-index: 0;
}

.header-hero-content h1 {
  font-family: "Open-Sans", sans-serif;
  font-size: 72px;
}

.header-hero-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.header-hero-content p:after {
  background-color: #651fff;
  content: "";
  display: block;
  height: 4px;
  width: 50%;
  margin: 20px auto;
}

.header-hero-content::before {
  content: "";
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.competitions-container {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}

.competitions-container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}

.competitions-container p {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.competitions-container a {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.card {
  background-color: #eceff1;
  border-radius: 20px;
  padding: 20px;
}

/* Main content standings */

.header-hero-standings {
  justify-content: center;
  background-image: url("../assets/images/header-standing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
  text-align: center;
  z-index: 0;
}

.header-hero-standings h1 {
  font-family: "Open-Sans", sans-serif;
  font-size: 72px;
}

.header-hero-standings p {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.header-hero-standings p:after {
  background-color: #651fff;
  content: "";
  display: block;
  height: 4px;
  width: 50%;
  margin: 20px auto;
}

.header-hero-standings::before {
  content: "";
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-standings-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.team-name-crest {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.td-team img {
  height: 25px;
  margin-right: 20px;
  width: 25px;
}


/* 404 page */

.not-found-page {
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  text-align: center;
}

.not-found-page img {
  height: 200px;
  margin: 25px 0;
}

.not-found-page span {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.not-found-page p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 15px 0;
}

.not-found-page .btn-go-home {
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  width: 150px;
  font-weight: 600;
}

/* Footer */

.page-footer {
  padding-top: 0;
}

.footer-social-media-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  width: 100%;
}

.social-media-connect-text {
  font-size: 20px;
  font-weight: 400;
}

.social-media-icon-container {
  display: flex;
  height: 25px;
  width: 300px;
}

.icon-social-media path {
  fill: white;
}

.icon-social-media path:hover {
  fill: #e2e8f0;
}

footer .footer-copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161c27;
  color: white;
  height: 80px;
  width: 100%;
}

/* Responsive breakpoints */

@media screen and (min-width: 600px) {
  .valign-wrapper {
    justify-content: center;
  }
  
  .img-custom {
    height: 250px;
    width: 250px;
  }
}


@media screen and (max-width: 600px) {
  .valign-wrapper {
    justify-content: center;
  }

  .img-custom {
    height: 220px;
    width: 220px;
  }

  .not-found-page span {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
  }

  .not-found-page p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
  }

  .footer-social-media-container {
    flex-direction: column;
    padding: 30px 0;
  }

  .social-media-connect-text {
    margin-bottom: 25px;
  }
}

